modules/segmentation-rx/rx/soln_segment_xml/sys_Lookup.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT PSXEntry (PSXDisplayText, Value )>
<!ELEMENT Value (#PCDATA)>
<!ATTLIST Value type (Boolean | Date | String ) "String">
<!ELEMENT PSXDisplayText (#PCDATA)>
<!ATTLIST  PSXEntry sequence CDATA #IMPLIED>
<!ATTLIST PSXEntry default (yes | no ) "no">
<!ELEMENT sys_Lookup (PSXEntry* )>
