system/applications/sys_components/ApplicationFiles/getSubjectAttributeRelation.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT PSXSubjectAttributeRelation (Subject, Attribute )>
<!ELEMENT Attribute (#PCDATA)>
<!ELEMENT Subject (#PCDATA)>
<!ATTLIST  PSXSubjectAttributeRelation id CDATA #REQUIRED>
<!ATTLIST  PSXSubjectAttributeRelation DbComponentId CDATA #REQUIRED>
<!ELEMENT getSubjectAttributeRelation (PSXSubjectAttributeRelation* )>
