system/utils/src/main/resources/com/percussion/utils/xml/security_config.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--
  -     Percussion CMS
  -     Copyright (C) 1999-2020 Percussion Software, Inc.
  -
  -     This program is free software: you can redistribute it and/or modify
  -     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  -
  -     This program is distributed in the hope that it will be useful,
  -     but WITHOUT ANY WARRANTY; without even the implied warranty of
  -     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -     GNU Affero General Public License for more details.
  -
  -     Mailing Address:
  -
  -      Percussion Software, Inc.
  -      PO Box 767
  -      Burlington, MA 01803, USA
  -      +01-781-438-9900
  -      support@percussion.com
  -      https://www.percussion.com
  -
  -     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<!--Generated by XML Authority-->

<!-- This is the XML DTD for the JBoss 3.0 security policy configuration.
The DOCTYPE is:
  <!DOCTYPE policy PUBLIC
      "-//JBoss//DTD JBOSS Security Config 3.0//EN"
      "http://www.jboss.org/j2ee/dtd/security_config.dtd">

$Id: security_config.dtd 20476 2004-04-17 13:29:24Z tdiesler $
$Revision: 20476 $

The outline of the application-policy is:
<policy>
 <application-policy name="security-domain-name">
  <authentication>
    <login-module code="login.module1.class.name" flag="control_flag">
      <module-option name = "option1-name">option1-value</module-option>
      <module-option name = "option2-name">option2-value</module-option>
      ...
    </login-module>

    <login-module code="login.module2.class.name" flag="control_flag">
      ...
    </login-module>
    ...
  </authentication>
 </application-policy>
</policy>
-->
<!-- The root element of the security policy configuration -->
<!ELEMENT policy (application-policy+)>

<!-- An application-policy defines the security configuration for an application domain. Currently
this consists of only the login module configurations specified in the authentication -->
<!ELEMENT application-policy (authentication)>

<!-- The application-policy name attribute gives the name of the security domain.
-->
<!ATTLIST application-policy name CDATA  #REQUIRED>

<!-- The authentication element contains the login module stack configuration. Each
login module configuration is specified using a login-module element.
-->
<!ELEMENT authentication (login-module+)>

<!-- The login-module element defines a JAAS login module configuration entry. Each
entry must have a code and flag attribute along with zero or more login module options
specified via the module-option element.
-->
<!ELEMENT login-module (module-option*)>

<!-- The flag attribute controls how a login module participates in the overall authentication proceedure.
Required     - The LoginModule is required to succeed.
			If it succeeds or fails, authentication still continues
			to proceed down the LoginModule list.

Requisite    - The LoginModule is required to succeed.
			If it succeeds, authentication continues down the
			LoginModule list.  If it fails,
			control immediately returns to the application
			(authentication does not proceed down the
			LoginModule list).

Sufficient   - The LoginModule is not required to
			succeed.  If it does succeed, control immediately
			returns to the application (authentication does not
			proceed down the LoginModule list).
			If it fails, authentication continues down the
			LoginModule list.

Optional     - The LoginModule is not required to
			succeed.  If it succeeds or fails,
			authentication still continues to proceed down the
			LoginModule list.

The overall authentication succeeds only if all required and requisite LoginModules succeed. If a sufficient
LoginModule is configured and succeeds, then only the required and requisite LoginModules prior to that
sufficient LoginModule need to have succeeded for the overall authentication to succeed. If no required or
requisite LoginModules are configured for an application, then at least one sufficient or optional LoginModule
must succeed. 
-->
<!ATTLIST login-module flag  (required | requisite | sufficient | optional )  #REQUIRED>

<!-- The code attribute gives the fully qualifed class name of the javax.security.auth.spi.LoginModule
interface implementation for the login module.
-->
<!ATTLIST login-module code CDATA  #REQUIRED>

<!-- A module option defines a name, value pair of strings that are passed to a LoginModule when it
is initialized during the login proceedure. The name attribute defines the option name while the
element value is the option string value.
-->
<!ELEMENT module-option (#PCDATA)>

<!-- The name attribute specifies the name of the login module option.
-->
<!ATTLIST module-option name CDATA  #REQUIRED>

