system/design/dtd/sys_PortalPublishing.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  -     Percussion CMS
  -     Copyright (C) 1999-2020 Percussion Software, Inc.
  -
  -     This program is free software: you can redistribute it and/or modify
  -     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  -
  -     This program is distributed in the hope that it will be useful,
  -     but WITHOUT ANY WARRANTY; without even the implied warranty of
  -     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -     GNU Affero General Public License for more details.
  -
  -     Mailing Address:
  -
  -      Percussion Software, Inc.
  -      PO Box 767
  -      Burlington, MA 01803, USA
  -      +01-781-438-9900
  -      support@percussion.com
  -      https://www.percusssion.com
  -
  -     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!--This is the element that will be published to the portal publisher when it requests the content varient from the content list-->
<!ELEMENT PSXPortalPublisher (ConnectionInfo, Content, MetaData?, AccessControl?)>
<!--Each property specifies a single associated value. The type specifies the type of the value of this element.-->
<!ELEMENT Property EMPTY>
<!ATTLIST Property
   type (string | integer | date) "string"
   name CDATA #REQUIRED
   pattern CDATA #REQUIRED
>
<!--Connection info holds information about making the database connection-->
<!ELEMENT ConnectionInfo (Target+)>
<!--Holds the actual content being published. This will normally be the result of the assembly of a variant. -->
<!ELEMENT Content EMPTY>
<!--target: Publish the content to this target. The target must be in the list of specified targets under ConnectionInfo.-->
<!--encoding: The encoding of the contained value. This is most likely base64 to avoid issues with embedded HTML not complying with XHTML and therefore invalidating the containing XML document.-->
<!--id: Generally this id will be the Rhythmyx content id, but it may be any unique id that will remain constant across publishing sessions.-->
<!ATTLIST Content
   target CDATA #REQUIRED
   encoding (none | base64 | escaped) "none"
   id CDATA #REQUIRED
>
<!--Metadata represents the extra information about this content item. It includes both viewable information such as titles and abstracts, as well as non-viewable information such as regions, categories and mime types.-->
<!ELEMENT MetaData (Property*)>
<!--Information about restricting access to this content item. Not currently used.-->
<!ELEMENT AccessControl (Property*)>
<!--Each target specifies a single specification of a database connection. Each connection can be to either a jndi or jdbc datasource. The child elements are required for the jdbc datasource.-->
<!ELEMENT Target (User?, Password?, Driver?, Class?, Schema?, Server?, URL?)>
<!--Type should be either jdbc or jndi-->
<!ATTLIST Target name CDATA #REQUIRED
	 type CDATA #REQUIRED >
<!--The user name for the specified database. Must correspond to the password given. This is ignored for a JNDI resource.-->
<!ELEMENT User ANY>
<!--Corresponding password for given user. This is ignored for a JNDI resource.-->
<!ELEMENT Password ANY>
<!--The JDBC Driver name, this is generally the second component from the url for your jdbc driver. Sometimes this contains another component, e.g. oracle:thin.-->
<!ELEMENT Driver ANY>
<!--The exact java classname of the JDBC driver. See your database supplier's documentation for the class information (or your JDBC driver's documentation if it is a third party driver). Required for JDBC. This is ignored for a JNDI resource.-->
<!ELEMENT Class ANY>
<!--Optional information to specify what database schema is in use. Required for Oracle.-->
<!ELEMENT Schema ANY>
<!--The database specifies the name of  the server to connect to for a JDBC driver. This is ignored for a JNDI resource.-->
<!ELEMENT Server ANY>
<!--This specifies the name of the JNDI resource being used. Ignored for JDBC.-->
<!ELEMENT URL ANY>
