system/design/dtd/sys_Node.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  -     Percussion CMS
  -     Copyright (C) 1999-2020 Percussion Software, Inc.
  -
  -     This program is free software: you can redistribute it and/or modify
  -     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  -
  -     This program is distributed in the hope that it will be useful,
  -     but WITHOUT ANY WARRANTY; without even the implied warranty of
  -     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -     GNU Affero General Public License for more details.
  -
  -     Mailing Address:
  -
  -      Percussion Software, Inc.
  -      PO Box 767
  -      Burlington, MA 01803, USA
  -      +01-781-438-9900
  -      support@percussion.com
  -      https://www.percussion.com
  -
  -     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<!--DTD generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<!ENTITY % props SYSTEM "sys_Props.dtd">
%props;
<!ELEMENT PSXNode (PSXProps?, TableMeta?, RowData?, PSXNode*)>
<!ATTLIST PSXNode
	name CDATA #REQUIRED
	type (Root | SystemCategory | SystemFolder | SystemView | Category | Folder | View | NewSearch | SavedSearch | Slot | SlotItem | Item) #REQUIRED
	label CDATA #REQUIRED
	expanded (false | true) #REQUIRED
	childrenurl CDATA #IMPLIED
	iconkey CDATA #IMPLIED
>
<!ELEMENT TableMeta (Column+)>
<!ELEMENT Column EMPTY>
<!ATTLIST Column
	name CDATA #REQUIRED
	type (String | Number | Date | Binary) "String"
>
<!ELEMENT RowData (ColumnData+)>
<!ELEMENT ColumnData (Value)>
<!ATTLIST ColumnData
	name CDATA #REQUIRED
>
<!ELEMENT Value ANY>
