system/design/dtd/sys_UiContexts.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!ELEMENT PSXUiContexts (PSXUiContext*)>
<!ATTLIST PSXUiContexts
	contextsurl CDATA #IMPLIED
>
<!ELEMENT PSXUiContext (Description?)>
<!ATTLIST PSXUiContext
	contextid CDATA #REQUIRED
	name CDATA #REQUIRED
	label CDATA #REQUIRED
>
<!ELEMENT Description (#PCDATA)>
