system/design/dtd/sys_ItemValidation.dtd

<?xml encoding="UTF-8"?>
<!--
  -     Percussion CMS
  -     Copyright (C) 1999-2020 Percussion Software, Inc.
  -
  -     This program is free software: you can redistribute it and/or modify
  -     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  -
  -     This program is distributed in the hope that it will be useful,
  -     but WITHOUT ANY WARRANTY; without even the implied warranty of
  -     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -     GNU Affero General Public License for more details.
  -
  -     Mailing Address:
  -
  -      Percussion Software, Inc.
  -      PO Box 767
  -      Burlington, MA 01803, USA
  -      +01-781-438-9900
  -      support@percussion.com
  -      https://www.percusssion.com
  -
  -     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<!--
   This DTD defines the stucture of the result XML document generated by the
   item validation extension.

   The processResultDocument(PSExecutionData data, Document item) returns 
   null if validation was ok. Otherwise a document conforming to this DTD 
   must be returned containing a list of all fields which need to be 
   corrected to perform a transition.
-->

<!--
   Each item validation extension creates a set of validation errors occurred
   when processed and there are errors to be corrected before a transition can
   take place.
-->
<!ELEMENT ValidationErrorSet (ValidationError+)>

<!--
   For each item validation violated, an element with a list of all offending 
   fields with an appropriate error message is created.
-->
<!ELEMENT ValidationError (ErrorFieldSet, ErrorMessage)>

<!--
   A list of one or more fields which caused the validation error.
-->
<!ELEMENT ErrorFieldSet (ErrorField+)>

<!--
   An error field.

   Attributes:
   submitName - the submit name of the field that caused the validation error.
      This name is unique within the entire item.

   displayName - the display name of the field that caused the validation error.
      This is the name the user sees on the item screens.
-->
<!ELEMENT ErrorField EMPTY>
<!ATTLIST ErrorField
   submitName  CDATA #REQUIRED
   displayName CDATA #REQUIRED
   >

<!--
   The message describing the error, the reason of its cause and maybe some hints
   for the user how to correct this.
   The pattern contains the basic message which is formatted with the provided
   arguments.
   The arguments passed to the formatter will be combined in the order they 
   appear in the ErrorMessage.
-->
<!ELEMENT ErrorMessage (Pattern, Argument*)>

<!--
   The message pattern which will be formatted with the provided arguments. The
   pattern must conform to the one described in java.text.MessageFormat.format(...),
   formatting only Strings.
   The pattern could look like this:
      "If field ''{0}'' is specified, also field ''{1}'' must be provided."
   
   If the arguments provided are "FirstName" and "LastName" the error message
   displayed to the user will come out like this:
      "If field ''FirstName'' is specified, also field ''LastName'' must be provided."
-->
<!ELEMENT Pattern (#PCDATA)>

<!--
   An argument to be formatted into an error message pattern.
-->
<!ELEMENT Argument (#PCDATA)>