system/design/dtd/sys_Node.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!--DTD generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<!ENTITY % props SYSTEM "sys_Props.dtd">
%props;
<!ELEMENT PSXNode (PSXProps?, TableMeta?, RowData?, PSXNode*)>
<!ATTLIST PSXNode
	name CDATA #REQUIRED
	type (Root | SystemCategory | SystemFolder | SystemView | Category | Folder | View | NewSearch | SavedSearch | Slot | SlotItem | Item) #REQUIRED
	label CDATA #REQUIRED
	expanded (false | true) #REQUIRED
	childrenurl CDATA #IMPLIED
	iconkey CDATA #IMPLIED
>
<!ELEMENT TableMeta (Column+)>
<!ELEMENT Column EMPTY>
<!ATTLIST Column
	name CDATA #REQUIRED
	type (String | Number | Date | Binary) "String"
>
<!ELEMENT RowData (ColumnData+)>
<!ELEMENT ColumnData (Value)>
<!ATTLIST ColumnData
	name CDATA #REQUIRED
>
<!ELEMENT Value ANY>
