system/Samples/content/applications/Editors/rx_cePage/ApplicationFiles/rx451_20021209_RXPAGE.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT RXPAGE (CONTENTID, DESCRIPTION, DISPLAYTITLE, PAGECONTENT, REVISIONID, SOURCEURL )>
<!ELEMENT SOURCEURL (#PCDATA)>
<!ELEMENT REVISIONID (#PCDATA)>
<!ELEMENT PAGECONTENT (#PCDATA)>
<!ELEMENT DISPLAYTITLE (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT CONTENTID (#PCDATA)>
<!ELEMENT RXPAGESet (RXPAGE* )>
<!ELEMENT rx451_20021209_RXPAGE (RXPAGESet )>
