system/workflow/applications/sys_wfEditor/ApplicationFiles/ResultsPage_wf.dtd

<?xml version='1.0' encoding='UTF-8'?>


<!ELEMENT ResultsPage_wf (bannerincludeurl*, workflowappid*, DBActionType*, userstatusincludeurl*, stateid* )>
<!ELEMENT stateid (#PCDATA)>
<!ELEMENT userstatusincludeurl (#PCDATA)>
<!ELEMENT DBActionType (#PCDATA)>
<!ELEMENT workflowappid (#PCDATA)>
<!ELEMENT bannerincludeurl (#PCDATA)>
