system/webservices/sample/loader/csharp/Web References/RxWebServices/assembly.wsdl

<?xml version="1.0" encoding="utf-8"?>


<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:flt="urn:www.percussion.com/6.0.0/faults" xmlns:com="urn:www.percussion.com/6.0.0/common" xmlns:asm="urn:www.percussion.com/6.0.0/assembly" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="assembly" targetNamespace="urn:www.percussion.com/6.0.0/assembly" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../faults.xsd" namespace="urn:www.percussion.com/6.0.0/faults" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="assembly.xsd" namespace="urn:www.percussion.com/6.0.0/assembly" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticationHeader">
    <wsdl:part name="Session" element="com:PSAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="LoadSlotsRequest">
    <wsdl:part name="LoadSlotsRequest" element="asm:LoadSlotsRequest" />
  </wsdl:message>
  <wsdl:message name="LoadSlotsResponse">
    <wsdl:part name="LoadSlotsResponse" element="asm:LoadSlotsResponse" />
  </wsdl:message>
  <wsdl:message name="LoadAssemblyTemplatesRequest">
    <wsdl:part name="LoadAssemblyTemplatesRequest" element="asm:LoadAssemblyTemplatesRequest" />
  </wsdl:message>
  <wsdl:message name="LoadAssemblyTemplatesResponse">
    <wsdl:part name="LoadAssemblyTemplatesResponse" element="asm:LoadAssemblyTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidSessionFaultMessage">
    <wsdl:part name="fault" element="flt:PSInvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="NotAuthorizedFaultMessage">
    <wsdl:part name="fault" element="flt:PSNotAuthorizedFault" />
  </wsdl:message>
  <wsdl:portType name="assembly">
    <wsdl:operation name="LoadSlots">
      <wsdl:input message="asm:LoadSlotsRequest" />
      <wsdl:output message="asm:LoadSlotsResponse" />
      <wsdl:fault name="InvalidSessionFault" message="asm:InvalidSessionFaultMessage" />
      <wsdl:fault name="NotAuthorizedFault" message="asm:NotAuthorizedFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAssemblyTemplates">
      <wsdl:input message="asm:LoadAssemblyTemplatesRequest" />
      <wsdl:output message="asm:LoadAssemblyTemplatesResponse" />
      <wsdl:fault name="InvalidSessionFault" message="asm:InvalidSessionFaultMessage" />
      <wsdl:fault name="NotAuthorizedFault" message="asm:NotAuthorizedFaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="assemblySOAP" type="asm:assembly">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadSlots">
      <soap:operation soapAction="urn:LoadSlots" />
      <wsdl:input>
        <soap:header message="asm:AuthenticationHeader" part="Session" use="literal" />
        <soap:body use="literal" parts="LoadSlotsRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidSessionFault">
        <soap:fault use="literal" name="InvalidSessionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotAuthorizedFault">
        <soap:fault use="literal" name="NotAuthorizedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadAssemblyTemplates">
      <soap:operation soapAction="urn:LoadAssemblyTemplates" />
      <wsdl:input>
        <soap:header message="asm:AuthenticationHeader" part="Session" use="literal" />
        <soap:body use="literal" parts="LoadAssemblyTemplatesRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidSessionFault">
        <soap:fault use="literal" name="InvalidSessionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotAuthorizedFault">
        <soap:fault use="literal" name="NotAuthorizedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
