system/webservices/sample/loader/csharp/Web References/RxWebServices/ContentEditorSystemDef.xsd

<?xml version="1.0" encoding="utf-8"?>


<xsd:schema xmlns:com="urn:www.percussion.com/6.0.0/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:www.percussion.com/6.0.0/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="BasicObjects.xsd" />
  <xsd:element name="CommandHandlerExits">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="com:InputDataExits" />
        <xsd:element ref="com:ResultDataExits" />
      </xsd:sequence>
      <xsd:attribute name="commandName" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CommandName" type="xsd:string" />
  <xsd:element name="PSContentEditorSystemDef">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="com:SystemLocator" />
        <xsd:element ref="com:PSXCommandHandlerStylesheets" />
        <xsd:element ref="com:PSXApplicationFlow" />
        <xsd:element minOccurs="0" ref="com:SectionLinkList" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="com:CommandHandlerExits" />
        <xsd:element minOccurs="0" ref="com:SystemParamNames" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="com:InitParams" />
        <xsd:sequence minOccurs="0">
          <xsd:element ref="com:PSXContainerLocator" />
          <xsd:element ref="com:PSXFieldSet" />
          <xsd:element ref="com:PSXUIDefinition" />
          <xsd:element minOccurs="0" ref="com:PSXValidationRules" />
          <xsd:element minOccurs="0" ref="com:PSXInputTranslations" />
          <xsd:element minOccurs="0" ref="com:PSXOutputTranslations" />
        </xsd:sequence>
      </xsd:sequence>
      <xsd:attribute default="15" name="cacheTimeout" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SystemLocator">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="com:PSXContainerLocator" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InitParams">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" ref="com:CommandName" />
        <xsd:element maxOccurs="unbounded" ref="com:PSXParam" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SystemParamNames">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" ref="com:PSXParam" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
