system/cms/content/applications/sys_ceSupport/ApplicationFiles/Variantlookup.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT item (contenttypeid*, stylesheetname*, assemblyurl*, value*, display* )>
<!ELEMENT display (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT assemblyurl (#PCDATA)>
<!ELEMENT stylesheetname (#PCDATA)>
<!ELEMENT contenttypeid (#PCDATA)>
<!ELEMENT Variantlookup (item* )>
