deliverytiersuite/delivery-tier-suite/caching/src/main/resources/com/percussion/delivery/caching/data/PSCacheConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percussion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CacheConfig" type="PSCacheConfig" />
  <xsd:complexType name="PSCacheConfig">    
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="CacheRegion" type="PSCacheRegion" />
    </xsd:sequence>
    <xsd:attribute name="maxQueueWorkers" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="PSCacheRegion">
    <xsd:sequence>
      <xsd:element name="Provider" type="PSCacheProvider" minOccurs="1" maxOccurs="1" />
      <xsd:element name="WebProperties" type="PSCacheWebProperties" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="PSCacheWebProperties">
    <xsd:sequence>
      <xsd:element name="WebProperty" maxOccurs="unbounded" type="PSCacheWebProviderProperty" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PSCacheProvider">
    <xsd:sequence>
      <xsd:element name="Properties" type="PSCacheProviderProperties" />
    </xsd:sequence>
    <xsd:attribute name="plugin" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="PSCacheProviderProperties">
    <xsd:sequence>
      <xsd:element name="Property" minOccurs="0" maxOccurs="unbounded" type="PSCacheProviderProperty"  />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PSCacheProviderProperty">
	<xsd:simpleContent>
		<xsd:extension base="xsd:string">
			<xsd:attribute name="name" type="xsd:string" use="required" />
		</xsd:extension>
	</xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PSCacheWebProviderProperty">
   <xsd:simpleContent>
      <xsd:extension base="xsd:string">
       <xsd:attribute name="protocol">
          <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="http"></xsd:enumeration>
                  <xsd:enumeration value="https"></xsd:enumeration>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:attribute>
      </xsd:extension>
   </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
