deliverytiersuite/delivery-tier-suite/caching/src/main/resources/com/percussion/delivery/caching/data/PSInvalidateRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percussion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvalidateRequest" type="InvalidateRequestType" />
  <xsd:complexType name="InvalidateRequestType">
    <xsd:sequence>
      <xsd:element name="Paths" type="PathsType" />
      <xsd:element name="CustomProperties" type="CustomPropertiesType" />
    </xsd:sequence>
    <xsd:attribute name="type" use="required">
    	<xsd:simpleType>
    		<xsd:restriction base="xsd:string">
    			<xsd:enumeration value="URLS"></xsd:enumeration>
    			<xsd:enumeration value="DIRECTORY"></xsd:enumeration>
    			<xsd:enumeration value="REGION"></xsd:enumeration>
    		</xsd:restriction>
    	</xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="regionName" type="xsd:string"  use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CustomPropertiesType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Property" type="PropertyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropertyType">
   <xsd:simpleContent>
      <xsd:extension base="xsd:string">
         <xsd:attribute name="name" type="xsd:string" use="required" />
      </xsd:extension>
   </xsd:simpleContent>
  </xsd:complexType> 
  <xsd:complexType name="PathsType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Path" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
