system/Samples/content/applications/Editors/rx_ceIndex/ApplicationFiles/rxmaster_RXINDEXPAGE.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT RXINDEXPAGE (ABSTRACTCONTENT, CONTENTID, DISPLAYTITLE, REVISIONID, VARIANT )>
<!ELEMENT VARIANT (#PCDATA)>
<!ELEMENT REVISIONID (#PCDATA)>
<!ELEMENT DISPLAYTITLE (#PCDATA)>
<!ELEMENT CONTENTID (#PCDATA)>
<!ELEMENT ABSTRACTCONTENT (#PCDATA)>
<!ELEMENT RXINDEXPAGESet (RXINDEXPAGE* )>
<!ELEMENT rxmaster_RXINDEXPAGE (RXINDEXPAGESet )>
