system/cms/content/applications/sys_cmpCaSaveSearch/ApplicationFiles/casavesearch.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT casavesearch (componentname, pagename, savesearchurl, userrolesurl )>
<!ELEMENT userrolesurl (#PCDATA)>
<!ELEMENT savesearchurl (#PCDATA)>
<!ELEMENT pagename (#PCDATA)>
<!ELEMENT componentname (#PCDATA)>
<!ATTLIST  casavesearch xml:lang CDATA #IMPLIED>
