system/cms/content/applications/sys_cmpComponents/ApplicationFiles/parentlookup.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT parentlookup (parentsfor, list* )>
<!ELEMENT list (componentname, componentid, componentdesc, componenturl, editurl, componentdisplayname)>
<!ELEMENT componentdisplayname (#PCDATA)>
<!ELEMENT editurl (#PCDATA)>
<!ELEMENT componenturl (#PCDATA)>
<!ELEMENT componentdesc (#PCDATA)>
<!ELEMENT componentid (#PCDATA)>
<!ELEMENT componentname (#PCDATA)>
<!ELEMENT parentsfor (#PCDATA)>
