system/cms/content/applications/sys_cmpSysLeftnav/ApplicationFiles/leftnav.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT leftnav (x, contexturl, userrolesurl, newcontenturl, allcontenturl, mycontenturl )>
<!ELEMENT mycontenturl (#PCDATA)>
<!ELEMENT allcontenturl (#PCDATA)>
<!ELEMENT newcontenturl (#PCDATA)>
<!ELEMENT userrolesurl (#PCDATA)>
<!ELEMENT contexturl (#PCDATA)>
<!ELEMENT x (#PCDATA)>
