system/release/tomcat/Tomcat/server/webapps/manager/status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percussion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by peter lin (consultant) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="connector">
		<xs:sequence>
			<xs:element name="threadInfo" type="threadInfo"/>
			<xs:element name="requestInfo" type="requestInfo"/>
			<xs:element name="workers" type="workers"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="jvm">
		<xs:sequence>
			<xs:element name="memory" type="memory"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="memory">
		<xs:attribute name="free" type="xs:long" use="required"/>
		<xs:attribute name="total" type="xs:long" use="required"/>
		<xs:attribute name="max" type="xs:long" use="required"/>
	</xs:complexType>
	<xs:complexType name="requestInfo">
		<xs:attribute name="maxTime" type="xs:long" use="required"/>
		<xs:attribute name="processingTime" type="xs:int" use="required"/>
		<xs:attribute name="requestCount" type="xs:long" use="required"/>
		<xs:attribute name="errorCount" type="xs:long" use="required"/>
		<xs:attribute name="bytesReceived" type="xs:long" use="required"/>
		<xs:attribute name="bytesSent" type="xs:long" use="required"/>
	</xs:complexType>
	<xs:element name="status">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="jvm" type="jvm"/>
				<xs:element name="connector" type="connector"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="threadInfo">
		<xs:attribute name="maxThreads" type="xs:int" use="required"/>
		<xs:attribute name="minSpareThreads" type="xs:int" use="required"/>
		<xs:attribute name="maxSpareThreads" type="xs:int" use="required"/>
		<xs:attribute name="currentThreadCount" type="xs:int" use="required"/>
		<xs:attribute name="currentThreadsBusy" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="worker">
		<xs:attribute name="stage" type="xs:string" use="required"/>
		<xs:attribute name="requestProcessingTime" type="xs:int" use="required"/>
		<xs:attribute name="requestBytesSent" type="xs:long" use="required"/>
		<xs:attribute name="requestBytesRecieved" type="xs:long" use="required"/>
		<xs:attribute name="remoteAddr" type="xs:string" use="required"/>
		<xs:attribute name="virtualHost" type="xs:string" use="required"/>
		<xs:attribute name="method" type="xs:string" use="required"/>
		<xs:attribute name="currentUri" type="xs:string" use="required"/>
		<xs:attribute name="currentQueryString" type="xs:string" use="required"/>
		<xs:attribute name="protocol" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="workers">
		<xs:sequence>
			<xs:element name="worker" type="worker"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
