system/Tools/Simple/src/test/resources/com/percussion/tools/simple/sys_ContentEditorLocalDef.dtd

<?xml encoding="UTF-8"?>
<!--
   This file contains the DTD that defines fields and properties that are
   specific to a single content editor. It also includes properties
   specifying how this editor will use system and shared fields if behavior
   different than the default is desired.
-->
<!-- Include the shared definitions -->
<!ENTITY % BasicObjects SYSTEM "sys_BasicObjects.dtd">
%BasicObjects;
<!--
   A content editor is an Item and a set of command handlers that allow the
   user to operate upon that item. The actual definition of the command
   handlers is done elsewhere.

   Attributes:
   id - An identifier for this object within the document. The actual value
         is not important as it is not used at this point.

   contentType - A numeric identifier that uniquely identifies the type of
         content this editor works with.

   workflowId - The numeric identifier of the workflow into which new content
         items will be sent after they are created. This is the default
         workflow if one is not specified the first time the content item is
         submitted.

   enableRelatedContent - This boolean specifies whether or not this content
      editor has related content enabled. The flag is optional and defaults to
      'no' if not provided.

   objectType - This is an integer that specifies the type of 'content' being
         generated by this editor. The allowed values come from the OBJECTS
         table. It is an optional attribute that defaults to 1 (item).
         Values other than 1 are reserved for system use.

-->

<!ELEMENT PSXContentEditor (PSXDataSet, PSXCommandHandlerStylesheets?,
      PSXApplicationFlow?, SectionLinkList?, PSXValidationRules?,
      PSXInputTranslations?, PSXOutputTranslations?, PSXCustomActionGroup*,
      PSXWorkflowInfo?)>
<!ATTLIST PSXContentEditor
   contentType %UniqueId;  #REQUIRED
   workflowId  %UniqueId;  #REQUIRED
   enableRelatedContent %Boolean; "no"
   objectType CDATA "1"
   >

<!--
   Contains information about which workflows this content item are allowed to
   be entered into.

   Attributes:
   type - How the values attribute should be interpreted. 'inclusionary' means
         all ids in the values list indicate workflows into which this content
         can be inserted. 'exclusionary' means all ids in the value list
         indicate workflows into which this content can never be inserted.

   values - A comma seperated list of workflow ids.
-->
<!ELEMENT PSXWorkflowInfo EMPTY>
<!ATTLIST PSXWorkflowInfo
   type  (inclusionary|exclusionary) #REQUIRED
   values CDATA   #REQUIRED
   >

<!--
   Attributes:
   id - An identifier for this object within the document. The actual value
         is not important as it is not used at this point.
-->
<!ELEMENT PSXDataSet (name, description, transactionType, PSXContentEditorPipe,
      PSXPageDataTank?, PSXRequestor? )>
<!ATTLIST PSXDataSet
   id %UniqueId;    #REQUIRED
   >

<!ELEMENT description (#PCDATA)>

<!ELEMENT transactionType (#PCDATA)>

<!--
   The content editor pipe is a collection of fields and the location of the
   values for those fields.

   Attributes:
   id - An identifier for this object within the document. The actual value
         is not important as it is not used at this point.
-->
<!ELEMENT PSXContentEditorPipe (name, description, InputDataExits?,
      ResultDataExits?, PSXContainerLocator, PSXContentEditorMapper, 
      userProperties?)>
<!ATTLIST PSXContentEditorPipe
   id    %UniqueId;  #REQUIRED
   >

<!--
   The content editor mapper is a collection of fields and all business
   rules that use or affect 2 or more fields each.
-->
<!ELEMENT PSXContentEditorMapper (SystemFieldExcludes?, SharedFieldIncludes?,
      PSXFieldSet, PSXUIDefinition )>

<!--
   Every user settable system field name included in this list will not be
   included in the output document. By default, user settable system fields
   are included.
-->
<!ELEMENT SystemFieldExcludes (FieldRef+)>
<!--
   A CMS system has 0 or more groups of shared fields defined according to
   the PSXContentEditorSharedDef DTD. Each of those groups has a name. This
   element contains a set of those names that should form a part of this
   editor.
-->
<!ELEMENT SharedFieldIncludes (SharedFieldGroupName+, SharedFieldExcludes*)>

<!--
   Every field name included in this list that is found in an included shared
   field group will not be included in the output document. By default, all
   fields from all included shared groups are included.
-->
<!ELEMENT SharedFieldExcludes (FieldRef+)>

<!--
   The name of a set of shared fields to be included with this editor. This
   must match one of the name attributes of a PSXSharedFieldGroup.
-->
<!ELEMENT SharedFieldGroupName (#PCDATA)>

<!--
   These elements are only needed when building the editor directly in an
   application file. When dropping onto the workbench, the workbench adds
   these properties.
-->
<!ELEMENT PSXRequestor (outputMimeType?, requestPage, SelectionParams?,
      ValidationRules?, characterEncoding?, MimeProperties) >
<!ATTLIST PSXRequestor
   id                %UniqueId;  #REQUIRED
   directDataStream  %Boolean;   "no"
   >

<!ELEMENT PSXPageDataTank (schemaSource, actionTypeXmlField)>
<!ATTLIST PSXPageDataTank
   id                %UniqueId;  #REQUIRED
   >

<!ELEMENT outputMimeType (PSXBackEndColumn | PSXCgiVariable | PSXCookie
      | PSXDateLiteral | PSXExtensionCall | PSXHtmlParameter | PSXNumericLiteral
      | PSXSingleHtmlParameter | PSXTextLiteral| PSXUserContext)*>
<!ELEMENT requestPage (#PCDATA)>
<!ELEMENT SelectionParams (PSXConditional*)>
<!ELEMENT ValidationRules (PSXConditional*)>
<!ELEMENT characterEncoding (#PCDATA)>
<!ELEMENT MimeProperties (htm | html)*>
<!ELEMENT htm (PSXTextLiteral)>
<!ELEMENT html (PSXTextLiteral)>
<!ELEMENT schemaSource (#PCDATA)>
<!ELEMENT actionTypeXmlField (#PCDATA)>

<!--
   A set of general purpose properties as name value pairs.  Used by the 
   workbench to track control dependency input data exits, may be used for 
   additional purposes in the future.  
-->
<!ELEMENT userProperties (userProperty*)>

<!--
   A single property as a name value pair.  The name attribute is the property
   name, and the element value is the property value.
-->
<!ELEMENT userProperty (#PCDATA)>
<!ATTLIST userProperty 
	name CDATA #REQUIRED
	>
