system/FastForward/ManagedNav/Applications/Editors/psx_cerffNavTree/ApplicationFiles/rx_zho_RXS_CT_NAVTREE.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT RXS_CT_NAVTREE (CONTENTID, NT_JAVASCRIPT, NT_LABEL, NT_PROPAGATE, NT_THEME, REVISIONID )>
<!ELEMENT REVISIONID (#PCDATA)>
<!ELEMENT NT_THEME (#PCDATA)>
<!ELEMENT NT_PROPAGATE (#PCDATA)>
<!ELEMENT NT_LABEL (#PCDATA)>
<!ELEMENT NT_JAVASCRIPT (#PCDATA)>
<!ELEMENT CONTENTID (#PCDATA)>
<!ELEMENT RXS_CT_NAVTREESet (RXS_CT_NAVTREE* )>
<!ELEMENT rx_zho_RXS_CT_NAVTREE (RXS_CT_NAVTREESet )>
