system/cms/content/applications/sys_DisplayFormats/ApplicationFiles/_PSX_DISPLAYFORMATS.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT PSX_DISPLAYFORMATS (DESCRIPTION, DISPLAYID, DISPLAYNAME, DISPLAYTYPE, INTERNALNAME )>
<!ELEMENT INTERNALNAME (#PCDATA)>
<!ELEMENT DISPLAYTYPE (#PCDATA)>
<!ELEMENT DISPLAYNAME (#PCDATA)>
<!ELEMENT DISPLAYID (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT PSX_DISPLAYFORMATSSet (PSX_DISPLAYFORMATS* )>
<!ELEMENT _PSX_DISPLAYFORMATS (PSX_DISPLAYFORMATSSet )>
