projects/sitemanage/schema/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Ben Chen (Percussion Software) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Request">
		<xs:annotation>
			<xs:documentation>Combines the settings of a request with the data which will be returned.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Settings" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Response" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Data">
		<xs:annotation>
			<xs:documentation>All the requests for which sample data will be provided. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Request" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:annotation>
			<xs:documentation>One element in a list.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="pvalue" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pair">
		<xs:annotation>
			<xs:documentation>Two pieces of data that belong together.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="pvalue1" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>One part of a pair of data values. For simple content, the 'value1' attribute of the parent may be used instead.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pvalue2" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The other part of a pair of data values. For simple content, the 'value2' attribute of the parent may be used instead.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
			<xs:attribute name="value1" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>This is a convenience attribute. If a left element child is not found, then this attribute is used. </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="value2" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>This is a convenience attribute. If a right element child is not found, then this attribute is used. </xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:annotation>
			<xs:documentation>A named piece of data that may be a component of both Settings and Result.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="pvalue" minOccurs="0"/>
					<xs:element name="pvalues" minOccurs="0">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="pvalue" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element ref="pair" minOccurs="0" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The name of this property. Must be unique within the enclosing parent. Case-insensitive.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="value" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The content of the property. This is a convenience. The content may instead be placed in a child Value element. If this element has any child element, this attribute is ignored.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Result">
		<xs:annotation>
			<xs:documentation>A container of properties which represent a single result from a request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
   <xs:element name="Response">
		<xs:annotation>
			<xs:documentation>A container of results which represent the result data from a request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Result" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
   <xs:element name="Settings">
		<xs:annotation>
			<xs:documentation>A container of properties which represent the settings of a request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pvalue" type="xs:string">
		<xs:annotation>
			<xs:documentation>The content of some property. For single-valued, simple content, the 'value' attribute of the parent may be used instead.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
