system/design/schemas/RxAssemblyServices.wsdl



<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:www.percussion.com/webservices/assembly/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:hdr="urn:www.percussion.com/webservices/header" xmlns:ap="urn:www.percussion.com/webservices/assembly" targetNamespace="urn:www.percussion.com/webservices/assembly/wsdl">
	<import namespace="urn:www.percussion.com/webservices/header" location="sys_Header.xsd"/>
	<import namespace="urn:www.percussion.com/webservices/assembly" location="sys_AssemblyParameters.xsd"/>
	<message name="header-request">
		<part name="Authentication" element="hdr:Authentication"/>
	</message>
	<message name="header-response">
		<part name="HeaderResponse" element="hdr:HeaderResponse"/>
	</message>
	<message name="createVariant-request">
		<part name="parameters" element="ap:createVariant"/>
	</message>
	<message name="createVariant-response">
		<part name="parameters" element="ap:CreateVariantResponse"/>
	</message>
	<portType name="AssemblyPort">
		<operation name="createVariant">
			<input message="tns:createVariant-request"/>
			<output message="tns:createVariant-response"/>
		</operation>
	</portType>
	<binding name="AssemblyBinding" type="tns:AssemblyPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createVariant">
			<soap:operation soapAction="urn:#createVariant"/>
			<input>
				<soap:header message="tns:header-request" part="Authentication" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:header-response" part="HeaderResponse" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="AssemblyServices">
		<port name="AssemblyPort" binding="tns:AssemblyBinding">
			<soap:address location="http://localhost:9980/RxServices/servlet/messagerouter"/>
		</port>
	</service>
</definitions>
