system/design/schemas/RxContentMetaServices.wsdl



<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:www.percussion.com/webservices/contentmeta/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:hdr="urn:www.percussion.com/webservices/header" xmlns:cmp="urn:www.percussion.com/webservices/contentmeta" targetNamespace="urn:www.percussion.com/webservices/contentmeta/wsdl">
	<import location="sys_Header.xsd" namespace="urn:www.percussion.com/webservices/header"/>
	<import location="sys_ContentMetaParameters.xsd" namespace="urn:www.percussion.com/webservices/contentmeta"/>
	<message name="header-request">
		<part name="Authentication" element="hdr:Authentication"/>
	</message>
	<message name="header-response">
		<part name="HeaderResponse" element="hdr:HeaderResponse"/>
	</message>
	<message name="contentStatus-request">
		<part name="parameters" element="cmp:contentStatus"/>
	</message>
	<message name="contentStatus-response">
		<part name="parameters" element="cmp:ContentStatusResponse"/>
	</message>
	<message name="revisionList-request">
		<part name="parameters" element="cmp:revisionList"/>
	</message>
	<message name="revisionList-response">
		<part name="parameters" element="cmp:RevisionListResponse"/>
	</message>
	<portType name="ContentMetaPort">
		<operation name="contentStatus">
			<input message="tns:contentStatus-request"/>
			<output message="tns:contentStatus-response"/>
		</operation>
		<operation name="revisionList">
			<input message="tns:revisionList-request"/>
			<output message="tns:revisionList-response"/>
		</operation>
	</portType>
	<binding name="ContentMetaBinding" type="tns:ContentMetaPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="contentStatus">
			<soap:operation soapAction="urn:#contentStatus"/>
			<input>
				<soap:header message="tns:header-request" part="Authentication" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:header-response" part="HeaderResponse" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="revisionList">
			<soap:operation soapAction="urn:#revisionList"/>
			<input>
				<soap:header message="tns:header-request" part="Authentication" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:header-response" part="HeaderResponse" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ContentMetaServices">
		<port name="ContentMetaPort" binding="tns:ContentMetaBinding">
			<soap:address location="http://localhost:9980/RxServices/servlet/messagerouter"/>
		</port>
	</service>
</definitions>
