system/design/schemas/RxSearchServices.wsdl

<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percusssion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:www.percussion.com/webservices/search/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:hdr="urn:www.percussion.com/webservices/header" xmlns:sp="urn:www.percussion.com/webservices/search" xmlns:si="urn:www.percussion.com/webservices/standarditem" xmlns:ns1="urn:www.percussion.com/webservices/common" targetNamespace="urn:www.percussion.com/webservices/search/wsdl">
   <import namespace="urn:www.percussion.com/webservices/header" location="sys_Header.xsd"/>
   <import namespace="urn:www.percussion.com/webservices/search" location="sys_SearchParameters.xsd"/>
   <message name="header-request">
      <part name="Authentication" element="hdr:Authentication"/>
   </message>
   <message name="header-response">
      <part name="HeaderResponse" element="hdr:HeaderResponse"/>
   </message>
   <message name="search-request">
      <part name="parameters" element="sp:search"/>
   </message>
   <message name="search-response">
      <part name="parameters" element="sp:SearchResponse"/>
   </message>
   <message name="searchConfiguration-request">
      <part name="searchConfiguration" element="sp:searchConfiguration"/>
   </message>
   <message name="searchConfiguration-response">
      <part name="searchConfigurationResponse" element="sp:searchConfigurationResponse"/>
   </message>
   <message name="internalSearchList-request">
      <part name="parameters" element="sp:internalSearchList"/>
   </message>
   <message name="internalSearchList-response">
      <part name="parameters" element="sp:InternalSearchListResponse"/>
   </message>
   <portType name="SearchPort">
      <operation name="search">
         <input message="tns:search-request"/>
         <output message="tns:search-response"/>
      </operation>
      <operation name="internalSearchList">
         <input message="tns:internalSearchList-request"/>
         <output message="tns:internalSearchList-response"/>
      </operation>
      <operation name="searchConfiguration">
         <input message="tns:searchConfiguration-request"/>
         <output message="tns:searchConfiguration-response"/>
      </operation>      
   </portType>
   <binding name="SearchBinding" type="tns:SearchPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="search">
         <soap:operation soapAction="urn:#search"/>
         <input>
            <soap:header message="tns:header-request" part="Authentication" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header message="tns:header-response" part="HeaderResponse" use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="internalSearchList">
         <soap:operation soapAction="urn:#internalSearchList"/>
         <input>
            <soap:header message="tns:header-request" part="Authentication" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header message="tns:header-response" part="HeaderResponse" use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="searchConfiguration">
         <soap:operation soapAction="urn:#searchConfiguration"/>
         <input>
            <soap:header message="tns:header-request" part="Authentication" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header message="tns:header-response" part="HeaderResponse" use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="SearchServices">
      <port name="SearchPort" binding="tns:SearchBinding">
         <soap:address location="http://localhost:9980/RxServices/servlet/messagerouter"/>
      </port>
   </service>
</definitions>
