system/design/schemas/sys_LibraryControls.xsd

<?xml version="1.0" encoding="UTF-8"?>


<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Doug Rand (Percussion Software) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import schemaLocation="sys_BasicObjects.xsd"/>
	<xs:element name="LibraryControlMetaData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ControlMeta" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Description" minOccurs="0"/>
							<xs:element name="ParamList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Param" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Description"/>
													<xs:element name="ChoiceList" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Entry" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="internalName" type="xs:string"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DefaultValue" type="xs:string" minOccurs="0"/>
												</xs:sequence>
												<xs:attribute name="name" type="xs:string" use="required"/>
												<xs:attribute name="datatype" type="xs:string" use="required"/>
												<xs:attribute name="required" default="no">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="yes"/>
															<xs:enumeration value="no"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="paramtype" type="xs:string" use="required"/>
												<xs:attribute name="jsf-attribute" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AssociatedFileList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FileDescriptor" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FileLocation" type="xs:string"/>
													<xs:element name="Timestamp" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="name" type="xs:string" use="required"/>
												<xs:attribute name="type" default="other">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="script"/>
															<xs:enumeration value="image"/>
															<xs:enumeration value="include"/>
															<xs:enumeration value="css"/>
															<xs:enumeration value="other"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="mimetype" type="xs:string"/>
												<xs:attribute name="originalLocation" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Dependencies" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Dependency" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Default">
														<xs:complexType>
															<xs:choice>
																<xs:element ref="PSXUrlRequest"/>
																<xs:element ref="PSXExtensionCall"/>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="status" default="readyToGo">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="readyToGo"/>
															<xs:enumeration value="setupRequired"/>
															<xs:enumeration value="setupOptional"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="occurrence" default="single">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="single"/>
															<xs:enumeration value="multiple"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="displayName" type="xs:string"/>
						<xs:attribute name="dimension" default="single">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="single"/>
									<xs:enumeration value="array"/>
									<xs:enumeration value="table"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="choiceset" default="none">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="none"/>
									<xs:enumeration value="required"/>
									<xs:enumeration value="optional"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="deprecate">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="yes"/>
									<xs:enumeration value="no"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="replacewith" type="xs:string"/>
						<xs:attribute name="jsf-tag" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
