system/design/schemas/sys_ContentEditorSharedDef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percussion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import schemaLocation="sys_BasicObjects.xsd"/>
	<xs:element name="PSXContentEditorSharedDef">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXSharedFieldGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PSXCommandHandlerStylesheets" minOccurs="0"/>
				<xs:element ref="PSXApplicationFlow" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXSharedFieldGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXContainerLocator"/>
				<xs:element ref="PSXFieldSet"/>
				<xs:element ref="PSXUIDefinition"/>
				<xs:element ref="PSXValidationRules" minOccurs="0"/>
				<xs:element ref="PSXInputTranslations" minOccurs="0"/>
				<xs:element ref="PSXOutputTranslations" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="filename" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
