system/design/schemas/sys_ContentEditorSharedDef.xsd

<?xml version="1.0" encoding="UTF-8"?>


<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import schemaLocation="sys_BasicObjects.xsd"/>
	<xs:element name="PSXContentEditorSharedDef">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXSharedFieldGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PSXCommandHandlerStylesheets" minOccurs="0"/>
				<xs:element ref="PSXApplicationFlow" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXSharedFieldGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXContainerLocator"/>
				<xs:element ref="PSXFieldSet"/>
				<xs:element ref="PSXUIDefinition"/>
				<xs:element ref="PSXValidationRules" minOccurs="0"/>
				<xs:element ref="PSXInputTranslations" minOccurs="0"/>
				<xs:element ref="PSXOutputTranslations" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="filename" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
