system/design/schemas/sys_BasicObjects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percussion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Doug Rand (Percussion Software) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ActionLinkRef" type="xs:string"/>
	<xs:element name="Alias" type="xs:string"/>
	<xs:element name="Anchor" type="xs:string"/>
	<xs:element name="CommandHandler">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="PSXConditionalStylesheet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="PSXStylesheet"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="PSXConditionalRequest" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="PSXUrlRequest"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Conditions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXRule" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataFormat" type="xs:string"/>
	<xs:element name="DataLocator">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="PSXBackEndColumn"/>
				<xs:element ref="PSXCgiVariable"/>
				<xs:element ref="PSXCookie"/>
				<xs:element ref="PSXDateLiteral"/>
				<xs:element ref="PSXExtensionCall"/>
				<xs:element ref="PSXHtmlParameter"/>
				<xs:element ref="PSXNumericLiteral"/>
				<xs:element ref="PSXSingleHtmlParameter"/>
				<xs:element ref="PSXTextLiteral"/>
				<xs:element ref="PSXUserContext"/>
				<xs:element ref="PSXContentItemStatus"/>
				<xs:element ref="PSXXmlField"/>
				<xs:element ref="PSXLiteralSet"/>
				<xs:element ref="PSXFunctionCall"/>
				<xs:element ref="PSXMacro"/>
				<xs:element ref="PSXJexlExpression"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="size" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultSelected">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXDefaultSelected" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultUI">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXUISet" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataLocator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DependentField">
		<xs:complexType>
			<xs:attribute name="fieldRef" type="xs:string" use="required"/>
			<xs:attribute name="dependencyType" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="optional"/>
						<xs:enumeration value="required"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="ErrorLabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXDisplayText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXDisplayText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldInputTranslation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXFieldTranslation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldOutputTranslation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXFieldTranslation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldRef" type="xs:string"/>
	<xs:element name="FieldRules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXVisibilityRules" minOccurs="0"/>
				<xs:element ref="PSXFieldValidationRules" minOccurs="0"/>
				<xs:element ref="FieldInputTranslation" minOccurs="0"/>
				<xs:element ref="FieldOutputTranslation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldValidationRuleRef">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Href" type="xs:string"/>
	<xs:element name="InputDataExits">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXExtensionCallSet" minOccurs="0"/>
				<xs:element ref="PSXJexlExpression" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Key" type="xs:string"/>
	<xs:element name="Label">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXDisplayText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OccurrenceSettings">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="dimension" default="optional">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="optional"/>
								<xs:enumeration value="required"/>
								<xs:enumeration value="oneOrMore"/>
								<xs:enumeration value="zeroOrMore"/>
								<xs:enumeration value="count"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="multiValuedType" default="delimited">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="delimited"/>
								<xs:enumeration value="separate"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="delimiter" type="xs:string" default=";"/>
					<xs:attribute name="transitionId" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXActionLink">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXDisplayText"/>
				<xs:element ref="PSXParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="isDisabled" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="isTransition" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXActionLinkList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXActionLink" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXApplicationFlow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandHandler" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXApplyWhen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXRule" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ifFieldEmpty" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXBackEndColumn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableAlias"/>
				<xs:element ref="column"/>
				<xs:element ref="columnAlias" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXBackEndCredential">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="alias"/>
				<xs:element ref="comment" minOccurs="0"/>
				<xs:element ref="datasource"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXCgiVariable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXChoiceFilter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DependentField" maxOccurs="unbounded"/>
				<xs:element ref="PSXUrlRequest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXChoiceTableInfo">
		<xs:complexType>
			<xs:attribute name="dataSource" type="xs:string" use="required"/>
			<xs:attribute name="tableName" type="xs:string" use="required"/>
			<xs:attribute name="labelColumnName" type="xs:string" use="required"/>
			<xs:attribute name="valueColumnName" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXChoices">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="Key"/>
					<xs:element ref="PSXEntry" maxOccurs="unbounded"/>
					<xs:element ref="PSXUrlRequest"/>
					<xs:element ref="PSXChoiceTableInfo"/>
				</xs:choice>
				<xs:element ref="PSXNullEntry" minOccurs="0"/>
				<xs:element ref="DefaultSelected" minOccurs="0"/>
				<xs:element ref="PSXChoiceFilter" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" default="global">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="global"/>
						<xs:enumeration value="local"/>
						<xs:enumeration value="lookup"/>
						<xs:enumeration value="internalLookup"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sortOrder" default="ascending">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ascending"/>
						<xs:enumeration value="descending"/>
						<xs:enumeration value="user"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXCommandHandlerStylesheets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandHandler" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXConditional">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="variable"/>
				<xs:element ref="operator"/>
				<xs:element ref="value"/>
				<xs:element ref="boolean" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXConditionalExit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXExtensionCallSet"/>
				<xs:element ref="PSXApplyWhen" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="maxErrorsToStop" type="xs:string" default="10"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXConditionalRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXUrlRequest"/>
				<xs:element ref="Conditions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXConditionalStylesheet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXStylesheet"/>
				<xs:element ref="Conditions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXContainerLocator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXTableSet" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXContentItemData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXContentItemStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXControlRef">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXCookie">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXCustomActionGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXLocation"/>
				<xs:choice>
					<xs:element ref="RemoveActions"/>
					<xs:sequence>
						<xs:element ref="RemoveActions" minOccurs="0"/>
						<xs:element ref="PSXFormAction"/>
						<xs:element ref="PSXActionLinkList"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXDateLiteral">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="date"/>
				<xs:element ref="format"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXDefaultSelected">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" default="nullEntry">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="nullEntry"/>
								<xs:enumeration value="sequence"/>
								<xs:enumeration value="text"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXDisplayFieldRef">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FieldRef"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXDisplayMapper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXDisplayMapping" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="fieldSetRef" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXDisplayMapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FieldRef"/>
				<xs:element ref="PSXUISet"/>
				<xs:element ref="PSXDisplayMapper" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXDisplayText" type="xs:string"/>
	<xs:element name="PSXEntry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXDisplayText"/>
				<xs:element ref="Value"/>
			</xs:sequence>
			<xs:attribute name="sequence" type="xs:string"/>
			<xs:attribute name="default" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXExtensionCall">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="PSXExtensionParamValue" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXExtensionCallSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXExtensionCall" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXExtensionParamValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXField">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataLocator" minOccurs="0"/>
				<xs:element ref="DataType" minOccurs="0"/>
				<xs:element ref="DataFormat" minOccurs="0"/>
				<xs:element ref="DefaultValue" minOccurs="0"/>
				<xs:element ref="OccurrenceSettings" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="FieldRules" minOccurs="0"/>
				<xs:element ref="PSXChoices" minOccurs="0"/>
				<xs:element ref="PSXPropertySet" minOccurs="0"/>
				<xs:element ref="PSXSearchProperties" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="showInSummary" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="showInPreview" default="yes">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="forceBinary" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="modificationType" default="user">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="system"/>
						<xs:enumeration value="systemCreate"/>
						<xs:enumeration value="user"/>
						<xs:enumeration value="userCreate"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userSearchable" default="yes">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userCustomizable" default="yes">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="defaultSearchLabel" type="xs:string"/>
			<xs:attribute name="clearBinaryParam">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="local"/>
						<xs:enumeration value="shared"/>
						<xs:enumeration value="system"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="mimetype" type="xs:string"/>
			<xs:attribute name="fieldvaluetype">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="content"/>
						<xs:enumeration value="meta"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="systemMandatory" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="systemInternal" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXFieldSet">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="PSXField"/>
				<xs:element ref="PSXFieldSet"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" default="parent">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="parent"/>
						<xs:enumeration value="simpleChild"/>
						<xs:enumeration value="complexChild"/>
						<xs:enumeration value="multiPropertySimpleChild"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="repeatability" default="zeroOrMore">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="zeroOrMore"/>
						<xs:enumeration value="oneOrMore"/>
						<xs:enumeration value="count"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="count" type="xs:string"/>
			<xs:attribute name="supportsSequencing" default="yes">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userSearchable" default="yes">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXFieldTranslation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXExtensionCallSet" minOccurs="0"/>
				<xs:element ref="PSXJexlExpression" minOccurs="0"/>
				<xs:element ref="ErrorLabel" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXFieldValidationRules">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="PSXRule"/>
					<xs:element ref="FieldValidationRuleRef"/>
				</xs:choice>
				<xs:element ref="PSXApplyWhen" minOccurs="0"/>
				<xs:element ref="ErrorMessage" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="maxErrorsToStop" type="xs:string" default="10"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXFormAction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXUrlRequest"/>
			</xs:sequence>
			<xs:attribute name="method" default="GET">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="GET"/>
						<xs:enumeration value="POST"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXFunctionCall">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="PSXFunctionParamValue" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXFunctionParamValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXHtmlParameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXInputTranslations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXConditionalExit" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXLiteralSet">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="PSXDateLiteral" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PSXNumericLiteral" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PSXTextLiteral" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXLocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FieldRef" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="page" default="summaryView">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="summaryView"/>
						<xs:enumeration value="rowEdit"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" default="form">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="form"/>
						<xs:enumeration value="row"/>
						<xs:enumeration value="field"/>
						<xs:enumeration value="wfAction"/>
						<xs:enumeration value="wfTransition"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sequence" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXMacro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXNullEntry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXEntry"/>
			</xs:sequence>
			<xs:attribute name="includeWhen" default="onlyIfNull">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="always"/>
						<xs:enumeration value="onlyIfNull"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sortOrder" default="first">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="first"/>
						<xs:enumeration value="last"/>
						<xs:enumeration value="sorted"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXNumericLiteral">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="number"/>
				<xs:element ref="format"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXOriginatingRelationshipProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXOutputTranslations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXConditionalExit" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXParam">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataLocator"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Value"/>
				<xs:element ref="Description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="locked" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXPropertySet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXProperty" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXRelationshipProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXRule">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="PSXConditional" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="PSXExtensionCall" minOccurs="0"/>
					<xs:element ref="PSXExtensionCallSet" minOccurs="0"/>
					<xs:element ref="PSXJexlExpression" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="ErrorLabel" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="boolean" default="and">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="and"/>
						<xs:enumeration value="or"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXSearchProperties">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="userSearchable" default="yes">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="enableTransformation" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tokenizeSearchContent" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="userCustomizable" default="yes">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="visibleToGlobalQuery" default="yes">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="defaultSearchLabel" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXSingleHtmlParameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXStylesheet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXUrlRequest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXTableLocator">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="TableLocatorAlias"/>
				<xs:choice>
					<xs:choice>
						<xs:element ref="PSXBackEndCredential"/>
						<xs:element ref="Alias"/>
					</xs:choice>
				</xs:choice>
			</xs:choice>
			<xs:attribute name="alias" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXTableRef">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="alias" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXTableSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXTableLocator"/>
				<xs:element ref="PSXTableRef" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="href" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXTextLiteral">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXUIDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DefaultUI" minOccurs="0"/>
				<xs:element ref="PSXDisplayMapper"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXUISet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Label" minOccurs="0"/>
				<xs:element ref="PSXControlRef" minOccurs="0"/>
				<xs:element ref="ErrorLabel" minOccurs="0"/>
				<xs:element ref="PSXChoices" minOccurs="0"/>
				<xs:element ref="ReadOnlyRules" minOccurs="0"/>
				<xs:element ref="PSXCustomActionGroup" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="defaultSet" type="xs:string"/>
			<xs:attribute name="accessKey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXUrlRequest">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="Href"/>
					<xs:element ref="PSXParam" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Anchor" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="PSXExtensionCall"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXUserContext">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXValidationRules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXConditionalExit" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="maxErrorsToStop" type="xs:string" default="10"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXVisibilityRules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXRule" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="dataHiding" default="xsl">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="xsl"/>
						<xs:enumeration value="xml"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXXmlField">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReadOnlyRules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXRule" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PSXControlRef" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemoveActions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ActionLinkRef" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultDataExits">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXExtensionCallSet" minOccurs="0"/>
				<xs:element ref="PSXJexlExpression" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SectionLinkList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXUrlRequest" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TableLocatorAlias" type="xs:string"/>
	<xs:element name="Value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" default="String">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Boolean"/>
								<xs:enumeration value="Date"/>
								<xs:enumeration value="String"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="alias" type="xs:string"/>
	<xs:element name="boolean" type="xs:string"/>
	<xs:element name="column" type="xs:string"/>
	<xs:element name="columnAlias" type="xs:string"/>
	<xs:element name="comment" type="xs:string"/>
	<xs:element name="datasource" type="xs:string"/>
	<xs:element name="date" type="xs:string"/>
	<xs:element name="format" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="number" type="xs:string"/>
	<xs:element name="operator" type="xs:string"/>
	<xs:element name="tableAlias" type="xs:string"/>
	<xs:element name="text" type="xs:string"/>
	<xs:element name="value">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="PSXBackEndColumn"/>
				<xs:element ref="PSXDateLiteral"/>
				<xs:element ref="PSXNumericLiteral"/>
				<xs:element ref="PSXTextLiteral"/>
				<xs:element ref="PSXCgiVariable"/>
				<xs:element ref="PSXHtmlParameter"/>
				<xs:element ref="PSXCookie"/>
				<xs:element ref="PSXUserContext"/>
				<xs:element ref="PSXXmlField"/>
				<xs:element ref="PSXSingleHtmlParameter"/>
				<xs:element ref="PSXLiteralSet"/>
				<xs:element ref="PSXFunctionCall"/>
				<xs:element ref="PSXContentItemData"/>
				<xs:element ref="PSXContentItemStatus"/>
				<xs:element ref="PSXRelationshipProperty"/>
				<xs:element ref="PSXMacro"/>
				<xs:element ref="PSXOriginatingRelationshipProperty"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="variable">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="PSXBackEndColumn"/>
				<xs:element ref="PSXTextLiteral"/>
				<xs:element ref="PSXCgiVariable"/>
				<xs:element ref="PSXHtmlParameter"/>
				<xs:element ref="PSXSingleHtmlParameter"/>
				<xs:element ref="PSXCookie"/>
				<xs:element ref="PSXUserContext"/>
				<xs:element ref="PSXXmlField"/>
				<xs:element ref="PSXFunctionCall"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXJexlExpression"/>
</xs:schema>
