system/design/schemas/sys_ContentEditorSystemDef.xsd

<?xml version="1.0" encoding="UTF-8"?>


<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import schemaLocation="sys_BasicObjects.xsd"/>
	<xs:element name="CommandHandlerExits">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InputDataExits"/>
				<xs:element ref="ResultDataExits"/>
			</xs:sequence>
			<xs:attribute name="commandName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandName" type="xs:string"/>
	<xs:element name="ContentEditorSystemDef">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SystemLocator"/>
				<xs:element ref="PSXCommandHandlerStylesheets"/>
				<xs:element ref="PSXApplicationFlow"/>
				<xs:element ref="SectionLinkList" minOccurs="0"/>
				<xs:element ref="CommandHandlerExits" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SystemParamNames" minOccurs="0"/>
				<xs:element ref="InitParams" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="PSXContainerLocator"/>
					<xs:element ref="PSXFieldSet"/>
					<xs:element ref="PSXUIDefinition"/>
					<xs:element ref="PSXValidationRules" minOccurs="0"/>
					<xs:element ref="PSXInputTranslations" minOccurs="0"/>
					<xs:element ref="PSXOutputTranslations" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="cacheTimeout" type="xs:string" default="15"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="InitParams">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandName" maxOccurs="unbounded"/>
				<xs:element ref="PSXParam" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemLocator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXContainerLocator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemParamNames">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXParam" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
