system/design/schemas/sys_ContentEditorLocalDef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percusssion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Doug Rand (Percussion Software) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import schemaLocation="sys_BasicObjects.xsd"/>
	<xs:element name="MimeProperties">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="htm"/>
				<xs:element ref="html"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXContentEditor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXDataSet"/>
				<xs:element ref="PSXCommandHandlerStylesheets" minOccurs="0"/>
				<xs:element ref="PSXApplicationFlow" minOccurs="0"/>
				<xs:element ref="SectionLinkList" minOccurs="0"/>
				<xs:element ref="PSXValidationRules" minOccurs="0"/>
				<xs:element ref="PSXInputTranslations" minOccurs="0"/>
				<xs:element ref="PSXOutputTranslations" minOccurs="0"/>
				<xs:element ref="PSXCustomActionGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PSXWorkflowInfo" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="contentType" type="xs:string" use="required"/>
			<xs:attribute name="workflowId" type="xs:string" use="required"/>
			<xs:attribute name="enableRelatedContent" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="objectType" type="xs:string" default="1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXContentEditorMapper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SystemFieldExcludes" minOccurs="0"/>
				<xs:element ref="SharedFieldIncludes" minOccurs="0"/>
				<xs:element ref="PSXFieldSet"/>
				<xs:element ref="PSXUIDefinition"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXContentEditorPipe">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="description"/>
				<xs:element ref="InputDataExits" minOccurs="0"/>
				<xs:element ref="ResultDataExits" minOccurs="0"/>
				<xs:element ref="PSXContainerLocator"/>
				<xs:element ref="PSXContentEditorMapper"/>
				<xs:element ref="userProperties" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXDataSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="description"/>
				<xs:element ref="transactionType"/>
				<xs:element ref="PSXContentEditorPipe"/>
				<xs:element ref="PSXPageDataTank" minOccurs="0"/>
				<xs:element ref="PSXRequestor" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXPageDataTank">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="schemaSource"/>
				<xs:element ref="actionTypeXmlField"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXRequestor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="outputMimeType" minOccurs="0"/>
				<xs:element ref="requestPage"/>
				<xs:element ref="SelectionParams" minOccurs="0"/>
				<xs:element ref="ValidationRules" minOccurs="0"/>
				<xs:element ref="characterEncoding" minOccurs="0"/>
				<xs:element ref="MimeProperties"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="directDataStream" default="no">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSXWorkflowInfo">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="inclusionary"/>
						<xs:enumeration value="exclusionary"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="values" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SelectionParams">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXConditional" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SharedFieldExcludes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FieldRef" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SharedFieldGroupName" type="xs:string"/>
	<xs:element name="SharedFieldIncludes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SharedFieldGroupName" maxOccurs="unbounded"/>
				<xs:element ref="SharedFieldExcludes" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemFieldExcludes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FieldRef" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValidationRules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXConditional" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="actionTypeXmlField" type="xs:string"/>
	<xs:element name="characterEncoding" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="htm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXTextLiteral"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="html">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXTextLiteral"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="outputMimeType">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="PSXBackEndColumn"/>
				<xs:element ref="PSXCgiVariable"/>
				<xs:element ref="PSXCookie"/>
				<xs:element ref="PSXDateLiteral"/>
				<xs:element ref="PSXExtensionCall"/>
				<xs:element ref="PSXHtmlParameter"/>
				<xs:element ref="PSXNumericLiteral"/>
				<xs:element ref="PSXSingleHtmlParameter"/>
				<xs:element ref="PSXTextLiteral"/>
				<xs:element ref="PSXUserContext"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="requestPage" type="xs:string"/>
	<xs:element name="schemaSource" type="xs:string"/>
	<xs:element name="transactionType" type="xs:string"/>
	<xs:element name="userProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="userProperty" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userProperty">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
