system/design/schemas/sys_ContentEditorSystemDef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Percussion CMS
  ~     Copyright (C) 1999-2020 Percussion Software, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     Mailing Address:
  ~
  ~      Percussion Software, Inc.
  ~      PO Box 767
  ~      Burlington, MA 01803, USA
  ~      +01-781-438-9900
  ~      support@percussion.com
  ~      https://www.percusssion.com
  ~
  ~     You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>
  -->

<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import schemaLocation="sys_BasicObjects.xsd"/>
	<xs:element name="CommandHandlerExits">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InputDataExits"/>
				<xs:element ref="ResultDataExits"/>
			</xs:sequence>
			<xs:attribute name="commandName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandName" type="xs:string"/>
	<xs:element name="ContentEditorSystemDef">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SystemLocator"/>
				<xs:element ref="PSXCommandHandlerStylesheets"/>
				<xs:element ref="PSXApplicationFlow"/>
				<xs:element ref="SectionLinkList" minOccurs="0"/>
				<xs:element ref="CommandHandlerExits" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SystemParamNames" minOccurs="0"/>
				<xs:element ref="InitParams" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="PSXContainerLocator"/>
					<xs:element ref="PSXFieldSet"/>
					<xs:element ref="PSXUIDefinition"/>
					<xs:element ref="PSXValidationRules" minOccurs="0"/>
					<xs:element ref="PSXInputTranslations" minOccurs="0"/>
					<xs:element ref="PSXOutputTranslations" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="cacheTimeout" type="xs:string" default="15"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="InitParams">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandName" maxOccurs="unbounded"/>
				<xs:element ref="PSXParam" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemLocator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXContainerLocator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemParamNames">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PSXParam" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
