system/Samples/content/applications/Editors/rx_ceBrief/ApplicationFiles/Rx40_RXBRIEF.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT RXBRIEF (BODYCONTENT, BODYML, CONTENTID, DISPLAYTITLE, REVISIONID )>
<!ELEMENT REVISIONID (#PCDATA)>
<!ELEMENT DISPLAYTITLE (#PCDATA)>
<!ELEMENT CONTENTID (#PCDATA)>
<!ELEMENT BODYML (#PCDATA)>
<!ELEMENT BODYCONTENT (#PCDATA)>
<!ELEMENT RXBRIEFSet (RXBRIEF* )>
<!ELEMENT Rx40_RXBRIEF (RXBRIEFSet )>
