modules/perc-i18n/src/main/resources/com/percussion/i18n/tmxdom/tmxmergeconfig.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Rammohan Vangapalli (Percussion Software) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT config (param+)>
<!ELEMENT note (config)>
<!ELEMENT param (#PCDATA)>
<!ATTLIST param
	name (addifnotexists | deleteifexists | ignoreifexists | ignoreifnotexists | modifyifexists | replaceifexists) #REQUIRED
>
<!ELEMENT prop (config)>
<!ELEMENT seg (config)>
<!ELEMENT tmxmergeconfig (tu)>
<!ELEMENT tu (config, note, prop, tuv)>
<!ELEMENT tuv (config, note, prop, seg)>
