system/design/dtd/errors/sys_PSXXmlProcessingError.dtd


<?xml version='1.0' encoding='UTF-8'?>



<!--
   This file contains the DTD that specifies the error message that is 
   used to report an error encountered during XML construction or 
   deconstruction. This will most often occur due to an invalid document 
   structure.
-->
<!ELEMENT PSXXmlProcessingError (description, source)>

<!--
   Source that caused the error.
-->
<!ELEMENT source (#PCDATA)>

<!--
   Detailed description of the error.
-->
<!ELEMENT description (#PCDATA)>

