system/design/dtd/errors/sys_PSXBackEndAuthorizationError.dtd


<?xml version='1.0' encoding='UTF-8'?>



<!--
   This file contains the DTD that specifies the error message that is 
   used to report a failed attempt to login to a back-end (database) 
   driver for authorization reasons.
-->
<!ELEMENT PSXBackEndAuthorizationError (description, source )>

<!--
   Source that caused the error.
-->
<!ELEMENT source (#PCDATA)>

<!--
   Detailed description of the error.
-->
<!ELEMENT description (#PCDATA)>


