system/design/dtd/errors/sys_PSXDataConversionError.dtd


<?xml version='1.0' encoding='UTF-8'?>



<!--
   This file contains the DTD that specifies the error message that is 
   used to report an error encountered during data conversion.
-->
<!ELEMENT PSXDataConversionError (description, source, sourceData )>

<!--
   The raw source data.
-->
<!ELEMENT sourceData (#PCDATA)>

<!--
   Source that caused the error.
-->
<!ELEMENT source (#PCDATA)>

<!--
   Detailed description of the error.
-->
<!ELEMENT description (#PCDATA)>

