system/design/dtd/errors/sys_PSXResponseSendError.dtd


<?xml version='1.0' encoding='UTF-8'?>



<!--
   This file contains the DTD that specifies the error message that is 
   used to report errors encountered while attempting to respond to a request. 
   This usually occurs when an I/O error occurs sending the response.
-->
<!ELEMENT PSXResponseSendError (source, description )>

<!--
   Source that caused the error.
-->
<!ELEMENT source (#PCDATA)>

<!--
   Detailed description of the error.
-->
<!ELEMENT description (#PCDATA)>

