system/cms/content/applications/sys_AutoTranslation/ApplicationFiles/community_contenttype_workflows.dtd.old

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT Workflow EMPTY>
<!ATTLIST  Workflow workflowid CDATA #IMPLIED>
<!ATTLIST  Workflow workflowname CDATA #IMPLIED>
<!ELEMENT Workflows (Workflow* )>
<!ELEMENT ContentType (Workflows)>
<!ATTLIST  ContentType contenttypeid CDATA #IMPLIED>
<!ATTLIST  ContentType contenttypename CDATA #IMPLIED>
<!ELEMENT ContentTypes (ContentType* )>
<!ELEMENT Community (ContentTypes)>
<!ATTLIST  Community communityid CDATA #IMPLIED>
<!ATTLIST  Community communityname CDATA #IMPLIED>
<!ELEMENT community_contenttype_workflows (Community* )>
