system/Designer/applications/sys_psxContentEditorCataloger/ApplicationFiles/getContentTypes.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT PSXContentType (id, name, description, newurl, queryurl)>
<!ELEMENT queryurl (#PCDATA)>
<!ELEMENT newurl (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ATTLIST PSXContentType
   objectType CDATA #REQUIRED
   hideFromMenu CDATA #IMPLIED
>
<!ELEMENT getContentTypes (PSXContentType*)>
